<aside title="banner">
    <div class="banner">
        <a href="" title="هیچ دوستی جز کوهستان">
            <img class="banner-image lazy w-100"  src="/Content/img/bochani.jpg" alt="هیچ دوستی جز کوهستان" style="display: inline;">
        </a>
    </div>
    <div class="clear-both"></div>
</aside>
@code {

}
