@page
@model newFace.Server.Areas.Identity.Pages.Account.VerifyPhoneNumberModel
@{
    ViewData["Title"] = "تایید کد امنیتی";


}
    <style>
        .hide {
            display: none !important;
        }
    </style>
<div class="wrapper">
    <div class="login-page-bg">
        <div class="login-page-bg-2">
            <div class="container">
                <div class="row no-gutters login-page align-content-center">
                    <div class="col-12 col-lg-6 p-4 login-right mx-auto rounded">

                        <div class="logo-login text-center mt-5">
                            <img src="~/img/Logo.png" class="img-fluid" alt="" />
                        </div>
                        <h1 class="login-welcome-text h3 mt-4 text-center">تایید تلفن هراه</h1>

                        <!--======================ForgotPassword Form========================-->
                        <form method="post">


                            @*@Html.AntiForgeryToken()*@
                            <input asp-for="Input.PhoneNumber" hidden="hidden" />
                            <input asp-for="Input.UserId" hidden="hidden" />
                            <input asp-for="Input.ForgotPassword" hidden="hidden" />
                            @if (!String.IsNullOrEmpty(ViewBag.message))
                            {
                                <div class="badge badge-danger" style="width:100%"> @ViewData["message"]</div>
                            }
                            <div class="input-group mt-5 px-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-mobile-alt"></i></div>
                                </div>
                                <input asp-for="Input.Code" class="form-control" placeholder="کد را وارد کنید:" />
                                <div class="col-12">
                                    <span asp-validation-for="Input.Code" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="text-center ">
                                <button type="submit" class="btn btn-info m-3 px-5 offset-3">تایید</button>
                            </div>
                            <div class="text-xlarge text-center mt-4">
                                <p class="badge badge-light">زمان باقیمانده تا ارسال دوباره = <span id="timer"></span></p>
                            </div>
                            <div class="text-center" id="resendcode">
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success px-4 mt-4" value="Submit" style="display: none;">تایید</button>
                                    <div id="waiting" class="hide alert alert-info" style="width:100%">در حال بررسی کد وارد شده...</div>
                                </div>
                            </div>
                        </form>
                        <!--======================End ForgotPassword Form========================-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}